@import "./abstracts/variables";
@import "./abstracts/mixins";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
}


@import "./base/normalize.scss";


//@import "./common/container";


//@import "./abstracts/variables";
//@import "./abstracts/mixins";


@import "./components/fonts";
//@import "./components/logo";
//@import "./components/btn";
//@import "./components/title";
//@import "./components/text";
//@import "./components/heading";


@import "./layout/header";
//@import "./layout/footer";


@import "./media/media-querys";