.footer {

    .container {
        @extend %container;
    }

    &__top {
        // background-color: #f6a839;
        // margin-top: 5px;
    }

    &__bottom {

        @media screen and (min-width: 576px) {
            background-color: #FAF9F8;
        }

    }

    &__bottom-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__span {

    }

    &__phone-number {

    }

}