.header {
    background-color: $primaryColor;

    @media screen and (min-width: 768px) {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }

    .container {
        @extend %container;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        @media screen and (min-width: 768px) {
            height: 100px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 45px;

        @media screen and (min-width: 576px) {
            margin-right: 36px;
        }

        @media screen and (min-width: 768px) {
            height: 23px;
        }
    }

    &__phone-city {
        // color: $linkColor;
        // font-size: 14px;
        // font-weight: 400;
        // line-height: 17.07px;
        @include text(14px, 400, 17.07px, $linkColor);
        text-decoration: none;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__phone-number {
        text-decoration: none;
        color: rgba(55, 55, 63, 1);

        @media screen and (min-width: 100px) {
            display: none;
        }

        @media screen and (min-width: 576px) {
            display: initial;
        }
    }

    span {
        color: rgba(179, 179, 179, 1);
    }

    &__user {
        width: 20px;
        height: 20px;

        @media screen and (min-width: 1280px) {
            display: none;
        }
    }

}