.map {

    &__wrapper {
        height: 425px;
        overflow: hidden;
        margin-bottom: 110px;

        @media screen and (min-width: 576px) {
            height: 510px;
            margin-top: 45px;
            margin-bottom: 52px;
    }

}

    &__pointer {
        display: none;
    }

}