.meet {

    &__wrapper {
        //max-width: 100%;
        //max-width: 400px;
        width: 275px;
        height: 380px;
        margin: 0 auto;
        border: 1px solid $secondaryColor;
        //padding-left: 23px;
        //padding-right: 23px;

        @media screen and (min-width: 576px) {
            width: 400px;
        }

        @media screen and (min-width: 1280px) {
            display: none;
        }

    }

    &__photographer {
        width: 215px;
        margin: 0 auto;
        padding-top: 40px;
        //padding-left: 30px;
        //padding-right: 30px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__swiper-photo {
        width: 65px;
        height: 65px;
    }

    &__swiper-photographer-about {
        width: 130px;
    }

    &____swiper-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: $textColor;
        margin-bottom: 5px;
    }

    &__swiper-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        margin-bottom: 7px;
    }

    &__swiper-info {
        font-size: 14px;
        font-weight: 500;
        line-height: 21.16px;
        color:$linkColor;
        text-decoration: none;
        //margin-bottom: 20px;
    }

}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    padding-top: 52px;
}

.swiper__row-one {
    width: 66px;
    height: 66px;
    background-color: $accentColor;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    line-height: 43.88px;
    color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.swiper__row-two {
    font-size: 16px;
    font-weight: 500;
    line-height: 23.4px;
    color: $textColor;
    margin-bottom: 10px;
}

.swiper__row-three {
    font-size: 14px;
    font-weight: 400;
    line-height: 20.48px;
    color: $textColor;
    margin-bottom: 20px;
}

:root {
    --swiper-navigation-size: 19px;
    --swiper-navigation-color: #C7C7C7;
    --swiper-pagination-color: #FC9B09;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    top: 80px;
    right: 15px;

    @media screen and (min-width: 576px) {
        right: 78px;
    }

}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    top: 80px;
    left: 26px;

    @media screen and (min-width: 576px) {
        left: 89px;
    }

}

.swiper-pagination-bullet {
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
    background: var(--swiper-pagination-bullet-inactive-color, #ffffff);
    border: 1px solid #37373F;
    margin: 0 5px;
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,10px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,10px));
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    border: none;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,5px);
}