.meet {

    &__wrapper {
        padding-bottom: 40px;

        @media screen and (min-width: 576px) {
            padding-top: 45px;
        }

    }

    &__map {
        height: 423px;
        margin-bottom: 52px;

        @media screen and (min-width: 576px) {
            height: 510px;
        }

    }

}