.photographer {

    .container {
        @extend %container;
    }

    &__wrapper {

        @media screen and (min-width: 1280px) {
            display: flex;
            flex-direction: row-reverse;
            border-bottom: 1px solid #C7C7C7;
        }

    }

    &__about {
        width: 155px;
        padding-top: 68px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/photographer/heart.svg);
            width: 31px;
            height: 27px;
            position: absolute;
            right: -65px;
            top: 50px;
        }

        @media screen and (min-width: 1280px) {
            transform: translateX(26px);
        }

    }

    &__photo {
        margin-bottom: 23px;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: $textColor;
        margin-bottom: 7px;
    }

    &__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        margin-bottom: 7px;

        @media screen and (min-width: 576px) {
            margin-bottom: 11px;
        }

    }

    &__info {
        font-size: 14px;
        font-weight: 500;
        line-height: 21.16px;
        color: $linkColor;
        text-align: center;
        text-decoration: none;
    }

    &__main {
        padding-top: 25px;

        @media screen and (min-width: 768px) {
            padding-top: 30px;

        }

    }

    &__subtitle-organizer {
        font-size: 18px;
        font-weight: 600;
        line-height: 26.33px;
        color: $textColor;

        @media screen and (min-width: 576px) {
            margin-bottom: 14px;
        }

        @media screen and (min-width: 1280px) {
            margin-top: 37px;
            margin-bottom: 14px;
        }

    }

    &__text {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 24.18px;
        color: $textColor;
        text-align: left;

        @media screen and (min-width: 768px) {
            width: 584px;
        }

    }

    &__subtitle-provider {
        font-size: 18px;
        font-weight: 600;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 14px;
    }

    &__select-first {
        width: 100px;
        margin-top: 43px;
        margin-bottom: 30px;
        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/photo/select-arrow.svg);
            width: 11px;
            height: 6px;
            position: absolute;
            right: 0;
            top: 10px;
        }

        @media screen and (min-width: 576px) {
            margin-top: 22px;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 5px;
        }

    }

    &__select-second {
        width: 100px;
        margin-top: 22px;
        margin-bottom: 40px;
        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/photo/select-arrow.svg);
            width: 11px;
            height: 6px;
            position: absolute;
            right: 0;
            top: 10px;
        }

        @media screen and (min-width: 576px) {
            margin-bottom: 52px;
        }

        @media screen and (min-width: 768px) {
            margin-top: 10px;
            margin-bottom: 50px;
        }

    }

    &__select {
        width: 100%;
        height: 19px;
        text-align: left;
        appearance: none;
        overflow: hidden;
        font-size: 16px;
        font-weight: 500;
        line-height: 23.4px;
        color: #5286EC;
        border: transparent;
        outline: transparent;
        cursor: pointer;
    }

    &__hr {
        color: $secondaryColor;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
        }

        @media screen and (min-width: 1280px) {
                display: none;
        }

    }

}