.photosession {

    .container {
        @extend %container;
    }

    &__wrapper {

        @media screen and (min-width: 1280px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &__image-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    &__image-title {
        font-size: 28px;
        font-weight: 400;
        line-height: 34.13px;
        color: $textColor;
        text-align: center;
        width: 180px;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            font-size: 40px;
            font-weight: 500;
            line-height: 48.76px;
            width: 255px;
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1280px) {
            display: none;
        }
    }

    &__image-block-wrapper {
        max-width: 100%;
        width: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        border-radius: 4px;
        object-fit: cover;

        @media screen and (min-width: 1280px) {
            width: 554px;
        }
    }

    &__image-link {
        text-decoration: none;
        position: absolute;
        right: 20px;
        bottom: 20px;

        @media screen and (min-width: 576px) {
            right: 30px;
            bottom: 30px;
        }

        @media screen and (min-width: 768px) {
            right: 40px;
            bottom: 30px;
        }

        @media screen and (min-width: 1920px) {
            right: 45px;
            bottom: 30px;
        }
    }

    &__image-pic {
        width: 12px;
        height: 17px;
        object-fit: cover;

        @media screen and (min-width: 576px) {
            width: 16px;
            height: 23px;
        }
    }

    &__text-block {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    &__text-title {
        font-size: 40px;
        font-weight: 500;
        line-height: 48.76px;
        color: $textColor;
        text-align: center;
        align-self: center;
        margin-bottom: 20px;
        width: 160px;
        display: none;

        @media screen and (min-width: 1280px) {
            display: initial;
            width: 255px;
            text-align: left;
            align-self: flex-start;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.48px;
        color: $textColor;
        width: 100%;
        margin-bottom: 30px;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__text-hidden {
        display: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.48px;
        color: $textColor;
        width: 100%;
        margin-bottom: 30px;

        @media screen and (min-width: 576px) {
            display: block;
            width: 475px;
            font-size: 18px;
            line-height: 26.33px;
        }
    }

    &__list {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
    }

    &__item-time {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 20px;
        margin-left: 45px;


        &::before {
            content: "";
            background-image: url(./../images/photosession/clock.svg);
            width: 32px;
            height: 32px;
            position: absolute;
            left: -57px;
            top: -7px;
            margin-left: 12px;
        }
    }

    &__item-photo {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 15px;
        margin-left: 45px;
        transform: translateY(15px);

        &::before {
            content: "";
            background-image: url(./../images/photosession/camera.svg);
            width: 35px;
            height: 28px;
            position: absolute;
            left: -57px;
            top: -10px;
            margin-left: 12px;
        }
    }

    &__item-geo {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 15px;
        margin-left: 45px;
        transform: translateY(30px);

        &::before {
            content: "";
            background-image: url(./../images/photosession/geotag.svg);
            width: 33px;
            height: 33px;
            position: absolute;
            left: -57px;
            top: -10px;
            margin-left: 12px;
        }
    }

    &__item-ask {
        width: 210px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 80px;
        margin-left: 45px;
        transform: translateY(45px);

        @media screen and (min-width: 576px) {
            width: 100%;
        }

        &::before {
            content: "";
            background-image: url(./../images/photosession/ask.svg);
            width: 31px;
            height: 31px;
            position: absolute;
            left: -57px;
            top: -10px;
            margin-left: 12px;
        }
    }

    &__item-comment {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-top: 20px;
        margin-bottom: 5px;
        margin-left: 45px;
        transform: translateY(-10px);

        @media screen and (min-width: 576px) {
            margin-top: 26px;
            margin-bottom: 30px;
            transform: translateY(3px);
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 32px;
        }

        &::before {
            content: "";
            background-image: url(./../images/photosession/cup.svg);
            width: 37px;
            height: 41px;
            position: absolute;
            left: -57px;
            top: 0;
            margin-left: 12px;

            @media screen and (min-width: 576px) {
                background-image: url(./../images/price/cup-min.svg);
                width: 32px;
                height: 36px;
                top: -10px;
            }
        }
    }

    &__link-max {
        text-decoration: none;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__link-min {
        text-decoration: none;
        display: none;

        @media screen and (min-width: 576px) {
            display: initial;
            transform: translateY(10px);
        }
    }

    &__rating {
        margin-left: -15px;
        @media screen and (min-width: 576px) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(220px);
        }
    }

    &__span {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
    }
}

hr {
    color: $secondaryColor;
}