.photo {

    .container {
        @extend %container;
    }

    &__title {
        width: 215px;
        margin: 0 auto;
        font-size: 26px;
        font-weight: 400;
        line-height: 31.69px;
        color: $textColor;
        margin-top: 60px;
        margin-bottom: 32px;
        text-align: center;
    }

    &__image {
        display: flex;
        column-gap: 15px;
        overflow-x: auto;
    }

}

.pic {
    width: 277px;
    height: 185px;
}