.photosession {

    .container {
        @extend %container;
    }

    &__block-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    &__title-image {
        font-size: 28px;
        font-weight: 400;
        line-height: 34.13px;
        color: $textColor;
        text-align: center;
        width: 160px;
        margin-bottom: 15px;
    }

    &__image {
        max-width: 100%;
        width: 100%;
        border: 1px solid #000000;
        border-radius: 4px;
        object-fit: cover;
    }

    &__block-text {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    &__title-text {
        font-size: 28px;
        font-weight: 400;
        line-height: 34.13px;
        color: $textColor;
        text-align: center;
        align-self: center;
        width: 160px;
        display: none;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.48px;
        color: $textColor;
        width: 245px;
        margin-bottom: 30px;
    }

    &__list {
        list-style-type: none;
        width: 255px;
    }

    &__link {
        text-decoration: none;
    }

    &__item-time {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 20px;
        margin-left: 45px;


        &::before {
            content: "";
            background-image: url(./../images/photosession/clock.svg);
            width: 32px;
            height: 32px;
            position: absolute;
            left: -57px;
            top: -7px;
            margin-left: 12px;
        }

    }

    &__item-photo {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 15px;
        margin-left: 45px;
        transform: translateY(15px);

        &::before {
            content: "";
            background-image: url(./../images/photosession/camera.svg);
            width: 35px;
            height: 28px;
            position: absolute;
            left: -57px;
            top: -10px;
            margin-left: 12px;
        }

    }

    &__item-geo {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 15px;
        margin-left: 45px;
        transform: translateY(30px);

        &::before {
            content: "";
            background-image: url(./../images/photosession/geotag.svg);
            width: 33px;
            height: 33px;
            position: absolute;
            left: -57px;
            top: -10px;
            margin-left: 12px;
        }

    }

    &__item-ask {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-bottom: 80px;
        margin-left: 45px;
        transform: translateY(45px);

        &::before {
            content: "";
            background-image: url(./../images/photosession/ask.svg);
            width: 31px;
            height: 31px;
            position: absolute;
            left: -57px;
            top: -10px;
            margin-left: 12px;
        }

    }

    &__item-comment {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.48px;
        color: $textColor;
        position: relative;
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 45px;
        transform: translateY(-10px);

        &::before {
            content: "";
            background-image: url(./../images/photosession/cup.svg);
            width: 37px;
            height: 41px;
            position: absolute;
            left: -57px;
            top: 0;
            margin-left: 12px;
        }

        &::after {
            content: "";
            background-image: url(./../images/photosession/starblock.svg);
            width: 118px;
            height: 17px;
            position: absolute;
            left: -10px;
            top: 21px;
            margin-left: 12px;
        }

    }

}

hr {
    color: $secondaryColor;
}

