.price {

    .container {
        @extend %container;
    }

    &__title {
        font-size: 26px;
        font-weight: 400;
        line-height: 31.69px;
        color: $textColor;
        text-align: center;
        margin-bottom: 40px;
    }

    &__date {
        padding: 18px 0;
        border: 1px solid $secondaryColor;
        width: 100%;
        margin: 0 auto;
    }

    &__date-link {

        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        text-align: center;
        text-decoration: none;
    }

    &__calendar-link {
        display: none;

        @media screen and (min-width: 576px) {
            display: inline-block;
        }

    }

    &__btn {
        cursor: pointer;
    }

    &__calendar-icon {

    }

    &__buy {
        padding: 30px 0;
        border: 1px solid $secondaryColor;
        border-top: none;
        padding-left: 20px;
    }

    &__time {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 10px;
    }

    &__cost {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: $textColor;
        margin-bottom: 10px;
    }

    &__place {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 20px;
    }

    &__btn {
        width: 130px;
        height: 50px;
        border: 2px solid #FC9B09;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        color: #FC9B09;
    }

    &__comment {
        border: 1px solid $secondaryColor;
        border-top: none;
        padding-left: 20px;
    }

    &__link-min {
        text-decoration: none;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
        }

    }

    &__link-max {
        text-decoration: none;

        @media screen and (min-width: 576px) {
            display: none;
        }

    }

}