.price {

    .container {
        @extend %container;
    }

    &__title {
        width: 278px;
        font-size: 26px;
        font-weight: 400;
        line-height: 31.69px;
        color: $textColor;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__title-hidden {
        width: 285px;
        font-size: 26px;
        font-weight: 400;
        line-height: 31.69px;
        color: $textColor;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
            padding-top: 21px;
            line-height: 38.03px;
        }

        @media screen and (min-width: 768px) {
            padding-top: 60px;
            font-size: 20px;
            font-weight: 500;
            line-height: 29.26px;
            margin: 0;
            width: 225px;
            text-align: left;
            padding-bottom: 30px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 28px;
            font-weight: 500;
            line-height: 40.96px;
            width: 315px;
            padding-top: 50px;
            padding-bottom: 40px;
        }

        @media screen and (min-width: 1440px) {
            font-size: 20px;
            font-weight: 500;
            line-height: 29.26px;
            padding-bottom: 30px;
            width: 250px;
        }
    }

    &__wrapper {

        @media screen and (min-width: 1280px) {
            width: 770px;
        }
    }

    &__date {
        border: 1px solid $secondaryColor;
        border-bottom: none;
        padding-top: 20px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 576px) {
            justify-content: flex-start;
            padding-left: 20px;
            padding-top: 30px;
            padding-bottom: 20px;
        }

        @media screen and (min-width: 768px) {
            padding-top: 38px;
            padding-bottom: 12px;
            padding-left: 24px;
            align-items: end;
        }

        @media screen and (min-width: 1280px) {
            padding-top: 30px;
            padding-bottom: 20px;
            padding-left: 30px;
            align-items: center;
        }
    }

    &__date-link {
        width: 205px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        text-decoration: none;

        @media screen and (min-width: 576px) {
            margin-right: 15px;
            pointer-events: none;
            cursor: default;
        }
    }

    &__span {
        font-size: 18px;
        font-weight: 500;
        line-height: 26.33px;
        color: $textColor;
    }

    &__span-min {
        font-size: 13px;
        font-weight: 500;
        line-height: 19.02px;
        color: $textColor;
    }

    &__calendar-link {
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
            width: 35px;
            height: 35px;
            border: 1px solid #C4C4C4;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__btn {
        cursor: pointer;
    }

    &__buy {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        border: 1px solid $secondaryColor;
        border-bottom: none;

        @media screen and (min-width: 576px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

        @media screen and (min-width: 768px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__time {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 10px;
    }

    &__cost-min {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: $textColor;
        margin-bottom: 10px;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__cost-max {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: $textColor;
        margin-bottom: 10px;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
        }
    }

    &__place {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 20px;

        @media screen and (min-width: 576px) {
            margin-bottom: 0;
        }
    }

    &__btn-first {
        width: 130px;
        height: 50px;
        border: 2px solid #FC9B09;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        color: #FC9B09;

        //border-color: #FC9B09;
        background-image: -webkit-linear-gradient(45deg, #FC9B09 50%, transparent 50%);
        background-image: linear-gradient(45deg, #FC9B09 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        transition: background 400ms ease-in-out;

        &:hover {
            background-position: 0;
            color: #fff;
            cursor: pointer;
        }
    }

    &__btn-second {
        width: 130px;
        height: 50px;
        border: 2px solid #FC9B09;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        color: #FC9B09;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: color 400ms ease-in-out;

        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 100%;
            background: #FC9B09;
            z-index: -1;
            transition: width 400ms ease-in-out;
        }

        &:hover {
            color: #fff;
            cursor: pointer;
        }

        &:hover:after {
            width: 110%;
        }
    }

    &__comment {
        border: 1px solid $secondaryColor;
        padding-left: 20px;
        padding-top: 32px;
        padding-bottom: 18px;
        font-size: 13px;
        font-weight: 400;
        line-height: 19.02px;
        color: $textColor;
        position: relative;

        @media screen and (min-width: 576px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 26.33px;
            color: $textColor;
            border-top: none;
            padding-bottom: 32px;
        }

        &::before {
            content: "";
            background-image: url(./../images/photosession/cup.svg);
            width: 35px;
            height: 42px;
            position: absolute;
            left: 19px;
            top: 31px;

            @media screen and (min-width: 576px) {
                background-image: url(./../images/price/cup-min.svg);
                width: 32px;
                height: 36px;
                top: 22px;
            }

            @media screen and (min-width: 768px) {
                left: 30px;
            }
        }

        // &::after {
        //     content: "";
        //     background-image: url(./../images/photosession/starblock.svg);
        //     width: 118px;
        //     height: 17px;
        //     position: absolute;
        //     left: 80px;
        //     bottom: 27px;

        //     @media screen and (min-width: 576px) {
        //         bottom: 36px;
        //         left: 343px;
        //     }

        //     @media screen and (min-width: 768px) {
        //         left: 352px;
        //     }

        // }
    }

    &__link-min {
        width: 265px;
        text-decoration: none;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
            margin-left: 50px;
        }

        @media screen and (min-width: 768px) {
            margin-left: 60px;
        }
    }

    &__link-max {
        text-decoration: none;
        margin-left: 60px;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    &__rating {
        margin-left: 45px;

        @media screen and (min-width: 576px) {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(281px, 32px);
        }

        @media screen and (min-width: 768px) {
            transform: translate(291px, 32px);
        }
    }
}