.price {

    .container {
        @extend %container;
    }

    &__title {
        width: 280px;
        font-size: 26px;
        font-weight: 400;
        line-height: 31.69px;
        color: $textColor;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;

        @media screen and (min-width: 576px) {
            padding-top: 21px;
        }

    }

    &__date {
        height: 60px;
        border: 1px solid $secondaryColor;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 576px) {
            justify-content: flex-start;
            padding-left: 20px;
        }

    }

    &__date-link {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        text-decoration: none;

        @media screen and (min-width: 576px) {
            margin-right: 15px;
            pointer-events: none;
            cursor: default;
        }

    }

    &__calendar-link {
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
            width: 35px;
            height: 35px;
            border: 1px solid #C4C4C4;
            border-radius: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    &__btn {
        cursor: pointer;
    }

    &__calendar-icon {

    }

    &__buy {
        padding: 30px 0;
        border: 1px solid $secondaryColor;
        border-top: none;
        padding-left: 20px;
    }

    &__time {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 10px;
    }

    &__cost-min {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: $textColor;
        margin-bottom: 10px;

        @media screen and (min-width: 576px) {
            display: none;
        }

    }

    &__cost-max {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        color: $textColor;
        margin-bottom: 10px;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
        }

    }

    &__place {
        font-size: 18px;
        font-weight: 400;
        line-height: 26.33px;
        color: $textColor;
        margin-bottom: 20px;
    }

    &__btn {
        width: 130px;
        height: 50px;
        border: 2px solid #FC9B09;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        color: #FC9B09;
    }

    &__comment {
        border: 1px solid $secondaryColor;
        border-top: none;
        padding-left: 20px;
        padding-top: 32px;
        padding-bottom: 48px;
        font-size: 13px;
        font-weight: 400;
        line-height: 19.02px;
        color: $textColor;
        position: relative;

        @media screen and (min-width: 576px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 26.33px;
            color: $textColor;
        }

        &::before {
            content: "";
            background-image: url(./../images/photosession/cup.svg);
            width: 35px;
            height: 42px;
            position: absolute;
            left: 20px;
            top: 32px;

            @media screen and (min-width: 576px) {
                background-image: url(./../images/price/cup-min.svg);
                width: 32px;
                height: 36px;
            }

        }

        &::after {
            content: "";
            background-image: url(./../images/photosession/starblock.svg);
            width: 118px;
            height: 17px;
            position: absolute;
            left: 80px;
            bottom: 27px;
        }

    }

    &__link-min {
        text-decoration: none;
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
            margin-left: 60px;
        }

    }

    &__link-max {
        text-decoration: none;
        margin-left: 60px;

        @media screen and (min-width: 576px) {
            display: none;
        }

    }

}