.testimonials {

    .container {
        @extend %container;
    }

    &__title {
        font-size: 26px;
        font-weight: 400;
        line-height: 39.3px;
        color: $textColor;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__title-hidden {
        display: none;
        font-size: 26px;
        font-weight: 400;
        line-height: 39.3px;
        color: $textColor;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
            display: block;
            text-align: left;
            margin-top: 19px;
            font-size: 20px;
            font-weight: 500;
            line-height: 29.26px;
        }

        @media screen and (min-width: 1280px) {
            text-align: left;
            margin-top: 130px;
            font-size: 28px;
            font-weight: 500;
            line-height: 40.96px;
        }

        @media screen and (min-width: 1440px) {
            text-align: left;
            margin-top: 131px;
            font-size: 20px;
            font-weight: 500;
            line-height: 29.26px;
        }

        @media screen and (min-width: 1920px) {
            text-align: left;
            margin-top: 141px;
            font-size: 20px;
            font-weight: 500;
            line-height: 29.26px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            width: 655px;
        }
    }

    &__block-three {
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
            display: flex;
            flex-direction: column;
        }

        @media screen and (min-width: 768px) {
            width: 655px;
        }
    }

    &__subblock {
        display: flex;
        margin-bottom: 24px;

        @media screen and (min-width: 768px) {
            margin-bottom: 16px;
        }
    }

    &__subblock-text {

        @media screen and (min-width: 768px) {
            margin-top: 10px;
        }
    }

    &__subblock-three {
        display: flex;
        margin-bottom: 24px;
    }

    &__subblock-text-three {
        width: 140px;

        @media screen and (min-width: 768px) {
            margin-top: 10px;
        }
    }

    &__subblock-image {
        width: 84px;
        height: 84px;
        margin-right: 18px;

        @media screen and (min-width: 768px) {
            width: 101px;
            height: 101px;
            margin-right: 20px;
        }
    }

    &__subblock-image-three {
        width: 84px;
        height: 84px;
        margin-right: 37px;

        @media screen and (min-width: 768px) {
            width: 101px;
            height: 101px;
            margin-right: 19px;
        }
    }

    &__cite {
        //font-style: initial;
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: $textColor;
        margin-top: 5px;
        margin-bottom: 6px;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            font-weight: 500;
            line-height: 21.94px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &__cite-three {
        font-style: initial;
        //font-style: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: $textColor;
        margin-top: 5px;
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            font-weight: 500;
            line-height: 21.94px;
            margin-top: 10px;
            //margin-bottom: 10px;
        }
    }

    &__profession {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        margin-top: 7px;
        margin-bottom: 6px;

        @media screen and (min-width: 768px) {
            margin-bottom: 10px;
        }
    }

    &__rating-one {
        margin-left: -15px;
    }

    &__rating-two {
        margin-left: -15px;
    }

    // &__rating-three {
    //     margin-left: -15px;
    //     margin-top: 20px;
    // }

    &__more {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-left: 21px;
        margin-bottom: 14px;
        position: relative;

        @media screen and (min-width: 768px) {
            transform: translate(280px, -47px);
            width: 280px;
        }

        &::before {
            content: "";
            background-image: url(./../images/testimonials/mark.svg);
            width: 15px;
            height: 15px;
            position: absolute;
            left: -20px;
            top: 3px;
        }
    }

    &__more-three {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-left: 21px;
        margin-bottom: 14px;
        position: relative;

        @media screen and (min-width: 768px) {
            transform: translate(280px, -74px);
            width: 280px;
        }

        &::before {
            content: "";
            background-image: url(./../images/testimonials/mark.svg);
            width: 15px;
            height: 15px;
            position: absolute;
            left: -20px;
            top: 3px;
        }
    }

    &__quote-one {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        text-align: left;
        width: 100%;
        quotes: none;

        @media screen and (min-width: 576px) {
            width: 490px;
        }

        @media screen and (min-width: 768px) {
            width: 510px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24.18px;
            margin-top: -35px;
            margin-left: 120px;
        }
    }

    &__date-one {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-top: 17px;
        margin-bottom: 44px;

        @media screen and (min-width: 576px) {
            margin-top: 20px;
        }

        @media screen and (min-width: 768px) {
            margin-left: 120px;
            margin-top: 22px;
            margin-bottom: 35px;
        }
    }

    &__quote-two {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        text-align: left;
        width: 100%;
        quotes: none;

        @media screen and (min-width: 768px) {
            width: 510px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24.18px;
            margin-top: -35px;
            margin-left: 120px;
        }
    }

    &__date-two {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-top: 20px;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-left: 120px;
            margin-top: 14px;
            margin-bottom: 24px;
        }
    }

    &__quote-three {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        text-align: left;
        width: 100%;
        quotes: none;

        @media screen and (min-width: 768px) {
            width: 500px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24.18px;
            margin-top: -50px;
            margin-left: 120px;
        }
    }

    &__date-three {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-top: 20px;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-left: 120px;
            margin-top: 20px;
            margin-bottom: 12px;
        }
    }

    &__line-one {
        color: $secondaryColor;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-left: 120px;
        }
    }

    &__line-two {
        color: $secondaryColor;
        margin-bottom: 40px;

        @media screen and (min-width: 576px) {
            margin-bottom: 30px;
        }

        @media screen and (min-width: 768px) {
            margin-left: 120px;
        }
    }

    &__select-wrapper {
        //width: 145px;
        width: 160px;
        margin: 0 auto;
        margin-bottom: 81px;
        position: relative;

        @media screen and (min-width: 576px) {
            margin-bottom: 47px;
        }

        &::after {
            content: "";
            background-image: url(./../images/testimonials/arrow-right.svg);
            width: 6px;
            height: 11px;
            position: absolute;
            right: -12px;
            top: 7px;
        }

        @media screen and (min-width: 768px) {

            &::before {
                content: "";
                background-image: url(./../images/testimonials/arrow-down.svg);
                width: 11px;
                height: 6px;
                position: absolute;
                left: -22px;
                top: 9px;
            }

            &::after {
                content: "";
                background-image: url(./../images/testimonials/arrow-down.svg);
                width: 11px;
                height: 6px;
                position: absolute;
                right: -22px;
                top: 9px;
            }
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 50px;
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 47px;
        }
    }

    &__select {
        width: 100%;
        height: 19px;
        text-align: left;
        appearance: none;
        overflow: hidden;
        font-size: 17px;
        font-weight: 500;
        line-height: 24.87px;
        color: #5286EC;
        background-color: white;
        border: transparent;
        outline: transparent;
        cursor: pointer;
    }

    &__line-three {
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
            margin-left: 120px;
            margin-bottom: 45px;
        }

        @media screen and (min-width: 1280px) {
            margin-bottom: 47px;
        }
    }
}