.testimonials {

    //overflow: hidden;

    .container {
        @extend %container;
    }

    &__wrapper {
        padding-top: 40px;
    }

    &__title {
        font-size: 26px;
        font-weight: 400;
        line-height: 39.3px;
        color: $textColor;
        text-align: center;
        margin-bottom: 50px;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__block-hidden {
        display: none;

        @media screen and (min-width: 576px) {
            display: block;
        }

    }

    &__subblock {
        display: flex;
        margin-bottom: 24px;
    }

    &__subblock-text-hidden {
        width: 120px;
    }

    &__subblock-image {
        width: 84px;
        height: 84px;
        margin-right: 18px;
    }

    &__quote {
        quotes: none;
    }

    &__cite {
        font-style: initial;
        //font-style: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: $textColor;
        margin-top: 5px;
        margin-bottom: 6px;
    }

    &__cite-hidden {
        margin-bottom: 20px;
    }

    &__profession {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        margin-bottom: 7px;
    }

    // &__rating-hidden {
    //     display: block;
    // }

    &__more {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-left: 21px;
        margin-bottom: 14px;
        position: relative;

        &::before {
            content: "";
            background-image: url(./../images/testimonials/mark.svg);
            width: 15px;
            height: 15px;
            position: absolute;
            left: -20px;
            top: 3px;
        }

    }

    &__quote-one {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        text-align: left;
        width: 100%;
        margin-bottom: 17px;
    }

    &__date-one {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-bottom: 44px;
    }

    &__quote-two {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColor;
        text-align: left;
        width: 100%;
        margin-bottom: 20px;
    }

    &__date-two {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.16px;
        color: $textColorLight;
        margin-bottom: 30px;
    }

    &__line-one {
        color: $secondaryColor;
        margin-bottom: 30px;
    }

    &__line-two {
        color: $secondaryColor;
        margin-bottom: 40px;
    }

    &__select-wrapper {
        width: 145px;
        //margin-top: 43px;
        margin: 0 auto;
        margin-bottom: 81px;
        position: relative;

        &::after {
            content: "";
            background-image: url(./../images/testimonials/arrow.svg);
            width: 6px;
            height: 11px;
            position: absolute;
            right: -4px;
            top: 7px;
        }

    }

    &__select {
        width: 100%;
        height: 19px;
        text-align: left;
        appearance: none;
        overflow: hidden;
        font-size: 17px;
        font-weight: 500;
        line-height: 24.87px;
        color: #5286EC;
        border: transparent;
        outline: transparent;
        cursor: pointer;
    }

}