.testimonials {

    //overflow: hidden;

    .container {
        @extend %container;
    }

    &__wrapper {
        padding-top: 40px;
    }

    &__title {
        font-size: 26px;
        font-weight: 400;
        line-height: 39.3px;
        color: $textColor;
        text-align: center;
        margin-bottom: 50px;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__block-hidden {
        display: none;
    }

    &__subblock {
        display: flex;
    }

    &__subblock-image {
        width: 84px;
        height: 84px;
    }



    &__quote {
        quotes: none;
    }

    &__cite {
        font-style: initial;
        //font-style: normal;
    }






}